xml-resources/web-service-references/dicionario/wsdl/localhost_8080/dicionario.xsd_2.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://services.aonaware.com/webservices/">

<xs:complexType name="definicao">
<xs:sequence>
<xs:element name="definicao" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long"></xs:element>
<xs:element name="palavra" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>